USE [master]
GO
/****** Object:  Database [loginapp]    Script Date: 30/04/2025 10:01:15 pm ******/
CREATE DATABASE [loginapp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'loginapp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\loginapp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'loginapp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\loginapp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [loginapp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [loginapp]
GO
/****** Object:  Table [dbo].[loginapp]    Script Date: 30/04/2025 10:01:15 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loginapp](
	[username] [varchar](50) NULL,
	[password] [varchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
